<configuration debug="true">

    <!-- Pull env variable from environment at runtime -->
    <springProperty name="POD_NAME" source="POD_NAME" defaultValue="unknown-pod"/>
    <springProperty name="HOME_LOG" source="HOME_LOG" defaultValue="/var/log"/>
    <define name="CURRENT_DATE" class="org.ips.xml.signer.xmlsigner.configuration.CurrentDateDefiner"/>
    <!-- STDOUT Appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [${POD_NAME}] %-5level %logger{36} [%thread] %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="org.springframework.web.client.RestTemplate" level="INFO"/>
    <logger name="org.springframework.web.util.HttpLogging" level="WARN"/>
    <logger name="org.springframework.http.converter.FormHttpMessageConverter" level="WARN"/>
    <!-- File Appender -->
    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${HOME_LOG}/app_${POD_NAME}_${CURRENT_DATE}.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${HOME_LOG}/archived/app_${POD_NAME}.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
            <maxHistory>60</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [${POD_NAME}] %-5level %logger{36} [%thread] %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Logger -->
    <logger name="org.multimedia" level="INFO" additivity="false">
        <appender-ref ref="FILE-ROLLING"/>
    </logger>


    <!-- Root Logger -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE-ROLLING"/>
    </root>
</configuration>
